.background {
  viewport-fill: lightblue;
}

#timeLabel {
  font-size: 90;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 20%+60;
  fill: white;
}

#patientLabel {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 80%;
  fill: white;
}

#testText {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 90%;
  fill: white;
}
